@charset "UTF-8";

body{
    background: rgba(74, 112, 236, 0.842);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);

}

select#flista{
    width: 150px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}